<div class="modal-header">
    <h1 mat-dialog-title>{{'createProduct' | translate}}</h1>
    <button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content style="display: flex;flex-direction: column;gap: 0px;">
  <mat-form-field appearance="fill">
    <mat-label>{{'formProductName' | translate}}</mat-label>
    <input #nameRef matInput [(ngModel)]="inputData.name" required name="name">
    <mat-error *ngIf="!data.name">{{'Name is required' | translate}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'formProductCode' | translate}}</mat-label>
    <input #codeRef matInput [(ngModel)]="inputData.code" required>
    <mat-error *ngIf="!data.code">{{'Code is required' | translate}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'formProductDescription' | translate}}</mat-label>
    <textarea #descriptionRef matInput [(ngModel)]="inputData.description">
        <textarea matInput [(ngModel)]="inputData.description" [placeholder]="'Description' | translate"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'formProductBrand' | translate}}</mat-label>
    <input #brandRef matInput [(ngModel)]="inputData.brand" required>
    <mat-error *ngIf="!data.brand">{{'Brand is required' | translate}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'formProductPrice' | translate}}</mat-label>
    <input #priceRef type="number" matInput [(ngModel)]="inputData.price" required>
    <mat-error *ngIf="!data.price">{{'Price is required' | translate}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex;justify-content: flex-end;gap: 10px;">
  <button mat-button [mat-dialog-close]="true">{{'close' | translate}}</button>
  <button mat-button (click)="onSaveClick([priceRef, brandRef, codeRef, nameRef])" cdkFocusInitial>{{'save' | translate}}</button>
</div>